/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 13px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul{
    list-style: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COURSE GENERAL STYLES */
a {
    color:#333;
    text-decoration: none;
}
h2 {
    font-size: 25px; 
    margin: 0;
    padding-top: 10px;
}
ul,ol {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
/* COURSE GENERAL STYLES */

/* HEADER */
#main-header {
    height: 50px;
    background: #333;
    overflow: hidden;
    margin-bottom: 20px;
}
#branding {
    float: left;
    width: 50%;
}
#branding h1 {
    padding: 5px 0 0 70px;
    margin: 0 !important;
    color: #fff;
}
#branding img {
    position: absolute;
    width: 60px;
    height: auto;
}
#main-nav {
    float: right;
    width: 50%;
    padding-top: 12px;
}
#main-nav ul{
    float: right;
}
#main-nav li {
    float: left;
    padding: 3px 5px 0 5px;
    margin: 0 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    list-style: square;
    color: #fff;
}
#main-nav a {
    color: #fff;
}
/* HEADER */

/* MAIN CONTENT */

#content {
    float: left;
    width: 63%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
}
article {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 20px 0;
}
article img {
    width: 100%;
    height: auto;
}
article h2 {
    margin: 0;
    padding-top: 10px;
}
article .meta {
    margin: 10px 0 10px 0;
    padding: 5px;
    background: #333;
    color: #fff;
}
article .meta span {
    float: right;
}
article .readmore {
    background: #f4f4f4;
    color: #000;
    width: 97%;
    display: block;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
article .readmore:hover {
    background: #ccc;
}

/* MAIN CONTENT */

/* SIDE BAR */

#sidebar {
    float: right;
    width: 30%;
}
.search {
    float: right;
    width: 100%;
}
.search input[type="search"] {
    border: #ccc 1px solid;
    border-radius: 5px;
    height: 20px;
    width: 85%;
    padding: 3px;
    float: left;
}
.search input[type="image"] {
    width: 10%;
    float:right;
}
#sub-nav {
    padding: 20px 0 20px 0;
}
#sub-nav li {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    border-bottom: dotted 1px #333;
}
#sub-nav a {
    color:#333;
}
#sub-nav a:hover,#sub-nav a:active {
    color: red;
}
.ad img {
    width: 100%;
}


/* SIDE BAR */

/* FOOTER */

#main-footer {
    background: #333;
    color: #fff;
    min-height: 180px;
    margin-top: 20px;
    overflow: auto;
}
#main-footer a {
    color: #fff;
}
#main-footer .copy {
    padding: 20px 0 0 0;
}
#main-footer .footer-left {
    float: left;
    width: 30%;
}
#main-footer .footer-right {
    float: right;
    width: 70%;
}
#main-footer .footer-nav {
    float: left;
    font-size: 15px;
    width: 31%;
    padding: 20px 0 20px 0;
    margin-right: 10px;
}
#main-footer .footer-nav li {
    padding: 5px 0 5px 0;
    border-bottom:  dotted #666 1px;
}

/* FOOTER */

/* COMMENTS */

#comments {
    margin-top: 20px;
}
.comment-left {
    float: left;
    width: 8%;
}
.comment-left img {
    width: 100%;
    height: auto;
}
.comment-right {
    float: right;
    width: 90%;
}
.comment-form {
    margin-top: 20px;
    padding: 5px 20px 10px 20px;
    background: #333;
    color: #fff;
    border-radius: 10px;
}
.comment-form input[type="text"], .comment-form input[type="email"] {
    border: #ccc 1px solid;
    border-radius: 5px;
    height: 20px;
    padding: 3px;
    width: 97%;
    color: #000;
}
.comment-form textarea {
    border: #ccc 1px solid;
    border-radius: 5px;
    padding: 3px;
    width: 97%;
    color: #000;
}
.comment-form button {
    border: #ccc 1px solid;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
    color: #000;
    height: 35px;
}
.comment-form button:hover {
    background: #ccc;
}
/* COMMENTS */

/* ADD POST */

.add-form input[type="text"] {
    border: #ccc 1px solid;
    border-radius: 5px;
    height: 20px;
    padding: 3px;
    width: 97%;
    color: #000;
}
.add-form select {
    border: #ccc 1px solid;
    border-radius: 5px;
    height: 35px;
    padding: 3px;
    width: 98%;
    color: #000;
}
.add-form textarea {
    border: #ccc 1px solid;
    border-radius: 5px;
    padding: 3px;
    width: 97%;
    color: #000;
}
.add-form button {
    border: #ccc 1px solid;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 3px;
    width: 97%;
    color: #000;
    height: 35px;
}
.add-form button:hover {
    background: #ccc;
}

/* ADD POST */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 900px) {
    /* GENERAL COURSE */

    .container {
        width: 95%;
    }

    /* GENERAL COURSE */

    /* HEADER */

    #branding {
        width: 20%;
    }
    #branding h1 {
        display: none;
    }
    #main-nav {
        width: 80%;
    }

    /* HEADER */

    /* SIDE BAR */
    #sidebar {
        float: none;
        width: 100%;
    }
    .ad img {
        margin-bottom: 20px;
    }

    /* MAIN CONTENT */
    #content {
        margin: 0 auto;
        float: none;
        width: 89%;
    }
    /* MAIN CONTENT */

    /* FOOTER */

    #main-footer .footer-left, #main-footer .footer-right {
        float: none;
        width: 100%;
    }
    #main-footer .footer-nav {
        float: none;
        width: 100%;
        padding: 5px 0 5px 0;
        margin-right: 10px;
    }
    #main-footer .copy {
        text-align: center;
    }

    /* FOOTER */
}

@media only screen and (max-width: 500px) {
    #main-nav li {
        padding: 3px 3px 0 3px;
        margin: 0 5px;
        font-size: 13px;
        list-style: none;
    }
    #content {
        width: 87%;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}